@media screen and ( max-width: 1200px )
  html
    font-size: 12px
@media screen and ( max-width: 992px )
  .swiper-button-prev
    left: 30%
  .swiper-button-next 
    left: auto !important
    right: 30%
  .swiper-pagination-bullets 
    left: 50% !important
    transform: translateX(-50%) !important
  .nav
    display: none
    &__item
      margin-right: 1rem
      .nav       
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
      .card
        &__text
          margin-left: 0
  .swiper
    &-slider
      &-image
        margin-top: 0
  .mobile-order-top
    order: -1
  .col-50
    width: 100%
  .navigation
    display: flex
    justify-content: center  
@media screen and ( max-width: 570px )
  .section
    &-title
      text-align: center
      &__text
        margin: 2rem auto
        line-height: 158.48%
      &__word
        justify-content: center
        &::after
          content: ''
          display: none
      &__description
        max-width: 21.86rem
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      min-width: 22.86px
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and ( max-width: 520px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 520px )
  .swiper
    &-slide
      display: flex
      flex-wrap: wrap
      margin-top: 1rem
      &__text
        flex-basis: 50%
        margin-bottom: 2.42rem
        padding-bottom: 0.57rem

  
  



  

    

  

  
  